*{
    margin: 0;
    padding: 0;
    background-color: #1d1d1d;
    color:  #FFFFFF;
    font-size: 18px;
}
.lien_contact{color: #5d5d61;}
.lien_contact:hover{
    transition: all 0.5s;
    color: #5d5d6182;
}

.footer{
    background: transparent;
    color: #272729;
}

footer{
    display: flex;
    justify-content: space-around;
    background-color: #858282;
    opacity: 0.8;
    text-align: center;
    color: #272729;
    position: relative; /* mettre l'élement en bas  avec bottom left right , absolute c'est par rapport à son parent qui est en relative (body ici)*/
    bottom: 0;
    right: 0;
    left: 0;
    padding: 10px;
    margin-top: 10px;
}

@media screen  and (max-width: 1200px){

    footer{
        display: flex;
        flex-direction: column; /*element a la suite des autres*/
    }
    .google_maps{width: auto;/*pour que l'iframe ne deborde pas de son parent*/}
    
}