th {
    font-size: 13px;
}

td {
    font-size: 14px;
}

[data-col="1"] {
    left: 5px;
}

[data-col="2"] {
    left: 95.5px;
}

[data-col="3"] {
    left: 186px;
}

[data-col="4"] {
    left: 276.5px;
}

[data-col="5"] {
    left: 367px;
}

[data-col="6"] {
    left: 457.5px;
}

[data-col="7"] {
    left: 548px;
}

[data-col="8"] {
    left: 638.5px;
}

[data-col="9"] {
    left: 729px;
}

[data-col="10"] {
    left: 819.5px;
}

[data-col="11"] {
    left: 910px;
}

[data-col="12"] {
    left: 1000.5px;
}

[data-col="13"] {
    left: 1091px;
}

[data-col="14"] {
    left: 1181.5px;
}

[data-col="15"] {
    left: 1272px;
}

[data-col="16"] {
    left: 1362.5px;
}

[data-col="17"] {
    left: 1453px;
}

[data-col="18"] {
    left: 1543.5px;
}

[data-col="19"] {
    left: 1634px;
}

[data-col="20"] {
    left: 1724.5px;
}

[data-col="21"] {
    left: 1815px;
}

[data-row="1"] {
    top: 5px;
}

[data-row="2"] {
    top: 110px;
}

[data-row="3"] {
    top: 215px;
}

[data-row="4"] {
    top: 320px;
}

[data-row="5"] {
    top: 425px;
}

[data-row="6"] {
    top: 530px;
}

[data-row="7"] {
    top: 635px;
}

[data-row="8"] {
    top: 740px;
}

[data-row="9"] {
    top: 845px;
}

[data-row="10"] {
    top: 950px;
}

[data-row="11"] {
    top: 1055px;
}

[data-row="12"] {
    top: 1160px;
}

[data-row="13"] {
    top: 1265px;
}

[data-row="14"] {
    top: 1370px;
}

[data-row="15"] {
    top: 1475px;
}

[data-row="16"] {
    top: 1580px;
}

[data-sizey="1"] {
    height: 100px;
}

[data-sizey="2"] {
    height: 205px;
}

[data-sizey="3"] {
    height: 310px;
}

[data-sizey="4"] {
    height: 415px;
}

[data-sizey="5"] {
    height: 520px;
}

[data-sizey="6"] {
    height: 625px;
}

[data-sizey="7"] {
    height: 730px;
}

[data-sizey="8"] {
    height: 835px;
}

[data-sizey="9"] {
    height: 940px;
}

[data-sizey="10"] {
    height: 1045px;
}

[data-sizey="11"] {
    height: 1150px;
}

[data-sizey="12"] {
    height: 1255px;
}

[data-sizey="13"] {
    height: 1360px;
}

[data-sizey="14"] {
    height: 1465px;
}

[data-sizey="15"] {
    height: 1570px;
}

[data-sizex="1"] {
    width: 85.5px;
}

[data-sizex="2"] {
    width: 176px;
}

[data-sizex="3"] {
    width: 266.5px;
}

[data-sizex="4"] {
    width: 357px;
}

[data-sizex="5"] {
    width: 447.5px;
}

[data-sizex="6"] {
    width: 538px;
}

[data-sizex="7"] {
    width: 628.5px;
}

[data-sizex="8"] {
    width: 719px;
}

[data-sizex="9"] {
    width: 809.5px;
}

[data-sizex="10"] {
    width: 900px;
}

[data-sizex="11"] {
    width: 990.5px;
}

[data-sizex="12"] {
    width: 1081px;
}

[data-sizex="13"] {
    width: 1171.5px;
}

[data-sizex="14"] {
    width: 1262px;
}

[data-sizex="15"] {
    width: 1352.5px;
}

[data-sizex="16"] {
    width: 1443px;
}

[data-sizex="17"] {
    width: 1533.5px;
}

[data-sizex="18"] {
    width: 1624px;
}

[data-sizex="19"] {
    width: 1714.5px;
}

[data-sizex="20"] {
    width: 1805px;
}
.popup {
    display: none;
    position: fixed;
    top: 45px;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: rgb(63, 134, 63);
    opacity: 0.5;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 50px; /* Pour centrer le texte verticalement */
    z-index: 9999;
  }
  
  .popup-text {
    display: inline-block;
    vertical-align: middle; /* Pour centrer le texte verticalement */
  }
  
  .popup.show {
    display: block;
  }
  
  .fade-in {
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 0.5;
      transform: translateY(0);
    }
  }
  