.text_presentation.bg_transparent{
    margin-left: 20%;
    margin-right: 20%;
    background: transparent;
}
.bold-text{
    font-weight: 700;
    font-size: 3em;
}

@media screen and (max-width:600px) {

    .text_presentation{
        margin: 0;
    }
    body{
        text-align: left;
    }



}
