.mon_cv{
    display: flex;
    justify-content: space-between;
    margin: 50px 50px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.left{
    background-color: rgb(225, 216, 207);
    width: 33%;
}
.block_img{
    background: transparent;
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.img_cv{
    border-radius: 100%;
    width: 80%;

}

.bloc_left{
    margin: 40px 40px 0px 20px;
    padding: 10px;
    background: transparent;
}
.left_title{
    width: 100%;
    font-size: 35px;
    text-transform: uppercase;
    color: #e1d8cf;
    font-weight: bold;
    background: #373741;
    padding: 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.left_content{
    margin-top: 5px;
    padding-left: 5px;
    color: #373741;
    font-size: 23px;
    background: transparent;


}
.right{
    background: #fff;
    width: 67%;
}
.title_block{
    margin-top: 20px;
    height: 25%;
    display: flex;
    flex-direction: column;
    background: #373741;
    justify-content: center;
    text-align: center;
}
.title{
    margin: 10px;
    color:#e1d8cf;
    font-size: 50px;
    background: transparent;
    text-transform: uppercase;
}
.subtitle_title{
    margin: 10px;
    color:#fff;
    font-size: 32px;
    background: transparent;
    
}
.bloc_right{
    margin: 40px 40px 0px 20px;
    padding: 10px;
    background: transparent;
}
.right_title{
    width: 100%;
    font-size: 35px;
    text-transform: uppercase;
    color: #e1d8cf;
    font-weight: bold;
    background: #373741;
    padding: 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.right_content{
    margin: 15px;
    padding-left: 5px;
    color: #373741;
    font-size: 23px;
    background: transparent;


}
.subtitle{
    background: transparent;
    color: #373741;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    margin: 15px;

}
.italic{
    background: transparent;
    color: #373741;
}