.projets_purpose{margin: 10px;}

.projets_purpose{
    font-size: 30px;
    text-align: center;
    background: transparent;
}

.projets_strong_underline{
    text-decoration: underline;
    margin-right: 1%;
    background: transparent;
}