:root {
  --background-all: #fff;
  --background-block: #dcdcdc;
  --background-block-grid: #cfcfcf;
  --color-all: #000;
  --color-all-hover: #fff;
  --favorit-color: #cdc8c8 ;
  --background-color-hover: #a9a9a9;
  --color-strong: #000;
  --background-section-color: #fff;
  --big-line: #fff;
  --border_bloc_2 : #000;
  --darkmode:#fff;
}
/* Important que le dark theme soit apres le root car il va ecraser les valeurs précédentes  */
.dark-theme{
  --background-all: rgb(20,20,20);
  --background-block: #343333;
  --background-block-grid: #232323;
  --color-all: #FFF;
  --color-all-hover: rgb(143, 143, 143);
  --favorit-color: #49a1ff ;
  --background-color-hover: #24232323;
  --color-strong: #49a1ff;
  --background-section-color: #000;
  --big-line: #fff;
  --border_bloc_2 : #000;
  --darkmode:#fff;
}
* {
  margin: 0;
  padding: 0;
  background-color: var(--background-all);
  color: var(--color-all);
  font-size: 18px;
}
.shadow{
  box-shadow: 10px 5px 5px var(--favorit-color);
}
strong {
  background: transparent;
}


.big_line {
  max-width: 100%;
  height: 5px;
  margin: 30px 10px 30px 10px;
  background: var(--big-line);
  border-radius: 7px;
}

.encadre_text {
  font-size: 40px;
  border: 1px solid var(--color-all);
  margin: 10px 35% 10px 35%;
  text-align: center;
  padding: 10px;
  background: transparent;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  padding: 10px;
  background-color: var(--background-block-grid);
  padding: 10px;
  border: 1px solid var(--favorit-color);
  border-radius: 7px;
  margin: 1%;
}

.encadre_bloc {
  padding: 10px;
  background-color: var(--background-block);
  border: 1px solid var(--border_bloc_2);
  border-radius: 7px;
  margin: 1%;
  text-align: center;
}

.h2_title_bloc {
  background: transparent;
  font-size: 25px;
  font-weight: 900;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.liens_externe {
  display: inline-block; /*pour se comporter comme des bloc au lieu des inlines*/
  margin: 5px;
  padding: 10px;
  background-color: var(--background-all);
  padding: 10px;
  border: 1px solid var(--favorit-color);
  border-radius: 7px;
  text-decoration: none;
}
.liens_externe:hover {
  background: var(--background-color-hover);
  transition: ease-out 0.5s;
  color: var(--color-all-hover);
}

.liens_internes {
  border: 1px solid var(--favorit-color);
  border-radius: 30px;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
  cursor: pointer;
  display: inline-block; /* (par defaut a est un inline) puisse prendre des dimensions et pouvoir mettre d'autre balise sur la même ligne*/
  text-decoration: none;
}
.liens_internes:hover {
  background: var(--background-color-hover);
  transition: all 0.5s;
  color: var(--color-all-hover);
}

.color_strong {
  background: transparent;
  color: var(--color-strong);
}
.p_description_bloc {
  background: transparent;
}
.section_color {
  background: var(--background-section-color);
  padding: 10px;
}

.encadre_img_div{background: transparent;}

.encadre_img{
  max-height: 50vh;
  max-width: 100%;
  background: transparent;
}

.liens_div{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-top: 1px solid var(--favorit-color);
  background: transparent;
}


@media screen and (max-width: 1200px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
  .encadre_text {
    margin: 10px 20px 10px;
  }
}

@media screen and (max-width: 900px) {
  .grid {
    grid-template-columns: repeat(1, 100%);
  }
}

