.bloc_stage{padding: 20px;}
.stages_place, .stages_purpose{margin: 10px;}
.stages_place{font-size: var(--fz-40);}
.stages_purpose{
    font-size:var(--fz-30);
    text-align: center;
    background: transparent;
}

.stages_strong_underline{
    text-decoration: underline;
    margin-right: 1%;
    background: transparent;
}
.stages_plan{
    margin: 5%;
    background: transparent;
}
.stages_each_step{
    margin: 10px;
    background: transparent;
}
/* fin div same_height_img */ 
.stages_text_h2{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: var(--fz-25);
    margin-bottom: 1%;
    font-weight: bolder;
    text-align: center;
    background: transparent;
}

.stages_text_p{
    padding-right: 3%;
    background: transparent;
}
.scroll{
    overflow: scroll;
    max-height: 200px;
}
.break{overflow-wrap: break-word;}

.li_bg_transparent{background: transparent;}

.stages_bloc_v2
{
    max-width: 100%;
    border: 1px solid var(--favorit-color);
    border-radius: 7px;
    background: var(--background-block);
    padding: 5px;
    margin: auto;
    height: auto;
    max-width: 1000px;
}
.bloc_flex_v2
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: transparent;
    /* margin: 25px; */
}

.stage_text_v2
{
    max-width: 50%;
    padding: 5px;
    background: transparent;
}

@media screen and (max-width:900px)
{
    .stage_text_v2{max-width: 100%;}
}

