/*paramètre générale */

body{
    margin: 0;
    padding: 0;
    background-color: #1d1d1d;
    color:  #FFFFFF;
    font-size: 18px;
}
div.back_title{
    display: flex;
    width: 20%;
    justify-content: space-between;
    margin-top: 10px;
    
}
section.haut_de_page{
    display: flex;
    justify-content: space-around;
    height: 40px;
}
h1{
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    border: 1px solid #FFFFFF;
    margin-left: 30%;
    margin-right: 30%;
    padding: 10px;
    text-align: center;
}
h3{
    font-size: 30px;
    border: 1px solid #FFFFFF;
    margin-left: 3%;
    margin-right: 3%;
    padding: 10px;
}
/* menu */

.checkbox_menu_deroulant{display: none;}
.liens{margin-right: 10px; color: white;}

/* Fin menu */


/* Flèche retour */

.fleche_retour{

    width: 20px;
    height: 2px;
    display: inline-block;
    background: white;
    transform: rotate(45deg);
}

/* Fin fleche retour*/

p.haut_de_page{
    font-size: 30px;
    padding-bottom: 10px;
}

a.menu{
    margin-right: 10px;
    font-size: 22px;
    color: white;
}
a.menu:hover{
    text-decoration: underline;
    color: white;
}

a{
    text-decoration: none;
}

header{
    background-color: #000000;
}
a:hover{
    transition: 500ms all;
    cursor: pointer;
    color: #08fdd8;
}


footer{
    background-color: #f5f5f5;
    opacity: 0.8;
    text-align: center;
    color: #6e6e73;
    position: relative;
    bottom: -10px;


}


/*  Cors de la page*/

.border{
    background-color: #ffffff;
    color: #181818;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 7px;
    box-shadow: 10px 5px 5px #181818;
    padding: 10px;

}
.cv_flex{
    display: flex;
    justify-content: space-around;
}
.lien_cv{
    width: 20%;
    background-color: #181818;
    border: 1px solid #08fdd8;
    border-radius: 7px;
    padding: 4px;
}
.lien_cv a{color: #ffffff; margin-left: 10px;}
.lien_cv a:hover{color: #08fdd8;}

section.rappel_menu{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;    

}
.lien_menu h2{
    margin-left: 0;
    margin-right: 0;
}
.lien_menu{
    margin: 10px;
    width: 40%;
    text-align: center;
    background-color: #181818;
    padding: 10px;
    border: 1px solid #08fdd8;
    border-radius: 7px;
}

/*Page de stages */

.tt_img_description_stages_grid{

    display: grid;
    grid-template-columns: repeat(3,33%);
    text-align: justify;
}
.img_description_stages{
    margin: 0 10px 0;
    background-color: #181818;
    padding: 10px;
    border: 1px solid #08fdd8;
    border-radius: 7px;

}
.img_stage{
    padding: 0 35% 0 ; /*a enlever lors du responsive */
    max-width: 100%; /* les images seront limitées à la largeur de leur parent */
}
.scrool{
    overflow: scroll;
    max-height: 200px;
}
.break_word{
    overflow-wrap: break-word;
}

/* Fin page de stages*/

/* Partie responsive */

@media screen and (max-width:1200px){
    .img_stage{
        padding: 0;
    }

    /*menu deroulant */

    .menu_navigation{
        padding: 50px 150px 0 0;
        display: none;
    }
    .checkbox_menu_deroulant{display: none;}

    .liste_menu_navigation{ /*on fait disparaitre le menu*/
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: fixed;
        height: 25%;
        z-index: 10;

    }

    .btn_menu_deroulant{
        width: 32px;
        height: 32px;
        background: transparent;
        cursor: pointer;
        position: fixed;
        top: 0;
        right: 0;
        display: inline-block; /*le label ne peut prendre de dimension(car c'est une inline) donc on l'a transform en inline-block*/
        z-index: 5;
    }
    .trait_menu_deroulant, .trait_menu_deroulant::after, .trait_menu_deroulant::before{ /*on creer trois trait*/
        width: 20px;
        height: 2px;
        position: fixed;
        right: 5px;
        top: 15px;
        background: white;
        display: inline-block; /*idem que le label*/
        z-index: 10;
    }
    .trait_menu_deroulant::before{
        content: ""; /*Obligatoire pour les before et after*/
        margin-top: -7px;
    }
    .trait_menu_deroulant::after{
        content: ""; /*Obligatoire pour les before et after*/
        margin-top: 7px;
    }
    .checkbox_menu_deroulant{
        position: fixed;
        right: 5px;
        top: 15px;
        z-index: 2;
    }
    .checkbox_menu_deroulant:checked ~ .btn_menu_deroulant{
        transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        width: 150px;
        height: 300px;
        background: black;
        opacity: 0.8;
    }

    .checkbox_menu_deroulant:checked + .btn_menu_deroulant .trait_menu_deroulant{ /*le "+" veut dire qui suit l'élément parent*/
        background-color: transparent;
    }
    .checkbox_menu_deroulant:checked + .btn_menu_deroulant .trait_menu_deroulant::before{
        margin-top: 0;
        transform: rotate(-45deg);
        transition: all 0.5s;
    }
    .checkbox_menu_deroulant:checked + .btn_menu_deroulant .trait_menu_deroulant::after{
        margin-top: 0;
        transform: rotate(45deg);
        transition: all;
    }
    .checkbox_menu_deroulant:checked ~ .menu_navigation {display: block;} /*fait reapparaitre le menu*/
    .checkbox_menu_deroulant:checked ~ .menu_navigation .liste_menu_navigation{transition: 1.2s cubic-bezier(0.075, 0.82, 0.165, 1);}

    /* Fin du menu deroulant */

}



