.youtubeurs{padding: 10px;}
.flex{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    background: transparent;
    margin: 10px;
}
.page_accueil_site{
    max-width: 500px;
    width: 100%; /* S'adapte à son parent */ 
}



