:root {
/* font size  */

  --fz-40: calc(10px + 1vw);
  --fz-30: calc(5px + 1.5vw);
  --fz-25: calc(12px + 0.5vw);
  --fz-main: calc(10px + 0.5vw);
}
/* Important que le dark theme soit apres le root car il va ecraser les valeurs précédentes  */
.dark-theme{

/* color menu */
  --arrow-left: #fff;

  --background-menu:#000000ee;
  --background-menu-link-hover: #181818;
  --background-bool-mode:#cdc8c8;

  --color-bool:#fff;
  --color-menu-title:#fff;
  --color-menu-link:#fff;
  --color-menu-burger:#fff;

  --border-bool-mode:#fff;

/* color footer */

  --background-footer:#272729;

  --color-footer: #8f8d8d;
  --color-footer-hover:#fff;
/* color projects */

--background-big-card-project:transparent;
--background-little-card-project:#6e3131;
--background-little-card-link-project:#fff;
--background-little-card-link-project-hover:#bd0d0d;


--color-card-title-project:#000;
--color-card-objective-project:#a82f2f;
--color-card-strong-objective-project:#af7979;
--color-little-card-project:#080000;
--color-little-card-link-project:#000;
--color-little-card-link-project-hover:#b72a2a;

--border-card-title-project:#000000;
--border-big-card-project:#8100f2;
--border-little-card-project:#9735d9;
--border-little-card-link-project:#4c1cbc;
--border-little-card-link-project-hover:rgb(46, 222, 201);


/* color certifications */

--background-big-card-certification:#000;
--background-little-card-certification:#aaa;
--background-little-card-link-certification:#a32f2f;
--background-little-card-link-certification-hover:#140909;

--color-little-card-certification:#0c0101;
--color-little-card-strong-certification:#bf6262;
--color-card-title-certification:#3ac63c;
--color-little-card-link-certification:#edebeb;
--color-little-card-link-certification-hover:#0c0a0a;

--border-big-card-certification:#000;
--border-little-card-certification:blue;
--border-card-title-certification:#40e812;
--border-little-card-link-certification:#b7b3c1;
--border-little-card-link-certification-hover:#ce4646;

/* color monitoring */

--background-little-card-monitoring:#6e3131;
--background-little-card-link-monitoring:#fff;
--background-little-card-link-monitoring-hover:#bd0d0d;

--color-card-title-monitoring:#b34a4a;
--color-little-card-monitoring:#efe3e3;
--color-little-card-link-monitoring:#edebeb;
--color-little-card-link-monitoring-hover:#0c0a0a;

--border-card-title-monitoring:#160f0f;
--border-little-card-monitoring:#000;
--border-little-card-link-monitoring:#070707;
--border-little-card-link-monitoring-hover:#4040cc;

/* color intership */

--background-card-intership:#1b1bbc;
--background-link-intership:#fff;
--background-link-intership-hover:#bd0d0d;

--color-card-strong-intership:#7e1212;
--color-card-intership:#f48181;
--color-card-title-intership:#3f0909;
--color-plan-step-strong-intership:#f05050;
--color-plan-step-intership:#f05050;
--color-title-intership:#943636;
--color-place-strong-intership:#1e09be;
--color-place-intership:#1e09be;
--color-objective-strong-intership:#1e09be;
--color-objective-intership:#1e09be;
--color-plan-strong-intership:#040306;
--color-plan-intership:#1e09be;
--color-link-intership:#edebeb;
--color-link-intership-hover:#0c0a0a;

--border-card-intership:#f90909;
--border-title-intership:#e70e0e;
--border-link-intership:#e70e0e;
--border-link-intership-hover:#1111be;
--border-top-all-link:#d51f1f;


/* color table */

--background-table-case-hover:rgb(7, 121, 95);
--background-title-table:transparent;

--color-title-table:#1e09be;

--border-table:#000;
--border-table-case:rgb(7, 121, 95);
--border-title-table:#cdcdcd;


}
* {
  margin: 0;
  padding: 0;
  top: 0;
  color: var(--color-all);
  font-size: var(--fz-main);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  scroll-behavior: smooth;
}
.shadow{
  box-shadow: 10px 5px 5px var(--color-shadow);
}
strong {
  background: transparent;
}


.big_line {
  max-width: 100%;
  height: 5px;
  margin: 30px 10px 30px 10px;
  background: var(--big-line);
  border-radius: 7px;
}




.section_color {
  background: var(--background-section-color);
  padding: 10px;
}

.encadre_img_div{background: transparent;}

.encadre_img{
  max-height: 50vh;
  max-width: 100%;
  background: transparent;
}




/* apparition */
