:root{
    /* color monitoring */

--background-little-card-monitoring:#000;
--background-little-card-link-monitoring:#000;
--background-little-card-link-monitoring-hover:#000;

--color-card-title-monitoring:#000;
--color-little-card-title-monitoring:#fff;
--color-little-card-monitoring:#fff;
--color-little-card-link-monitoring:#fff;
--color-little-card-link-monitoring-hover:#bebebe;

--border-card-title-monitoring:#000;
--border-little-card-monitoring:#fff;
--border-little-card-link-monitoring:#fff;
--border-little-card-link-monitoring-hover:#fff;
}


.youtubeurs{padding: 10px;}
.flex{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    background: transparent;
    margin: 10px;

    align-items: stretch;
}
.monitoring-img{
    max-width: 500px;
    width: 100%; /* S'adapte à son parent */ 
}

.title-frame-monitoring {
    font-size: var(--fz-40);
    border: 1px solid var(--border-card-title-monitoring);
    margin: 10px 35% 10px 35%;
    text-align: center;
    padding: 10px;
    background: transparent;
    color: var(--color-card-title-monitoring);
}
.little-card-frame-monitoring {
    padding: 10px;
    display: flex;
    flex-direction: column;
    
    background-color: var(--background-little-card-monitoring);
    border: 1px solid var(--border-little-card-monitoring);
    border-radius: 7px;
    margin: 1%;
    text-align: center;


    /* flex: 0 1 33%; */
}
.little-card-frame-monitoring .little-card-frame-img-monitoring{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto; /* each img take the same height when their card are in the same height */
}

.title-card{
    margin: 8px;
    color: var(--color-little-card-title-monitoring);
}
.external-link-monitoring {
    display: inline-block; /*Even behavior to a bloc element rather than it's a display inline */
    margin: 5px;
    padding: 10px;
    background-color: var(--background-little-card-link-monitoring);
    padding: 10px;
    border: 1px solid var(--border-little-card-link-monitoring);
    border-radius: 7px;
    text-decoration: none;
    color: var(--color-little-card-link-monitoring);
}
.external-link-monitoring:hover {
    background: var(--background-little-card-link-monitoring-hover);
    transition: ease-out 250ms;
    color: var(--color-little-card-link-monitoring-hover);
    border: 1px solid var(--border-little-card-link-monitoring-hover); 
}

.describe-little-card-monitoring {
    background: transparent;
    padding: 5px;
    color: var(--color-little-card-monitoring);
}

@media screen and (max-width: 1200px) {
    .title-frame-monitoring {
      margin: 10px 20px 10px;
    }
  }
